/* 
    Created on : Sep 7, 2015, 11:47:18 AM
    Author     : Dan Noonan
*/

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ccc;
}

nav ul {
   list-style: none;
   text-align: center;
}

nav li {
    display: inline;
}

nav li::after {
    content: " / ";
}

nav li:last-child::after {
    content: "";
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: #222;
}

nav a:focus, nav a:hover {
    color: #888;
}

h1, h2 {
    font-family: Georgia, serif;
}

h1 {
    color: #fff;
    background-color: #333;
    text-align: center;
    margin: 0;
    padding: 20px 10px;
    text-shadow: 3px 3px 3px #777;
}

h2 {
    background-color: #777;
    padding: 10px 10px;
}

input {
    display: block;
}

input[type=text] {
    margin: 10px 0 10px 20px;
}

input[type=submit] {
    background-color: #222;
    color: #fff;
    margin: 20px 0;
    font-size: 1.25em;
    border-radius: 8px;
}

rect, circle, polygon, line {
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    fill-opacity: 0;
}

.filled {
    fill-opacity: 1;
}

svg text {
    font-family: "Cambria Math", "Times New Roman", serif;
    font-size: 150%;
}

.var {
    font-family: "Cambria Math", "Times New Roman", serif;
    font-style: italic;
}

/*circle {
    stroke-width: 4;
}*/