/* 
    Created on : Sep 7, 2015, 11:47:18 AM
    Author     : Dan Noonan
*/

h2 {
    padding: 5px;
    border-radius: 16px;
}

section img {
    margin: 15px 0;
}

.formula {
    font-family: "Cambria Math", "Times New Roman", serif;    
}

section div.formula {
    display: none; /* remove temporarily */
    font-size: 150%;
    height: 80px;
    margin: 10px 0;
    border: 1px solid black;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

var {
    font-family: "Cambria Math", "Times New Roman", serif;
    font-style: italic;
}

table td.fraction {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherited;
}